# ============ For github actions manual triggers =================
# ============ Designed by pengchao ma and this is for beginners =============
# ============ 多行注释练习 =========
# ============ author: pengchao ==========
# ============ date: 2026/02/02 ==========



name: Display github actions tutorial for beginners using
on: workflow_dispatch
jobs:
  check_runner_system_info:
    runs-on: ubuntu-latest
    steps:
      # 这个是运行一行命令
      - name: hello kitty
        run: echo "Hello kitty and Hello world!"
      # 这个是运行多行命令
      - name: run multiple command lines
        run: |
          echo "this is the first line"
          echo "this it the second line"
          echo "display system process info"
          ps aux
          echo "display the filesystem"
          ls -l
          echo "display the linux version"
          uname -a
          echo "display the storage info"
          df -h
          echo "display the memory info"
          free -h
          echo "display the current path"
          pwd
          echo "Display the CPU info"
          grep -c ^processor /proc/cpuinfo
          echo "CPU cores: $(nproc)"

  # 第二个 build job
  build:
    # job 必须要有 runs-on 
    runs-on: ubuntu-latest
    # 依赖关系，如： 依赖检查系统信息之后
    needs: check_runner_system_info
    steps:
      - name: build docker image
        run: echo "we are building the docker image currently"
  
  # 另外一个 test job
  test:
    runs-on: ubuntu-latest
    # job 之间的依赖关系，如 test job 需要在 build job 完成之后运行
    needs: build
    steps:
      - name: test the docker image
        run: echo "we are testing the docker image currently"

  # deploy
  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: we are deploy to EKS
        run: echo "we are deploy the image to AWS EKS"





